{% extends "base.html" %}
{% block content %}
          <!-- Display the predictions -->
          {% if data %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% if pred == 0 %}
                You do not have heart disease
            {% elif pred == 1%}
                You have heart disease
            {% endif %}
            
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endif %}

          <!-- Form -->
          <form action={% url 'predict' %} method="POST">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="inputEmail4">Age</label>
                <input type="number" required name="age" class="form-control" placeholder="Age">
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">Gender</label>
                <select name="gender" class="form-select form-control" aria-label="Default select example">
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputPassword4">Chest Pain Type</label>
                <select name="chest_pain" class="form-select form-control" aria-label="Default select example">
                    <option value="1">Typical angina</option>
                    <option value="2">Atypical angina</option>
                    <option value="3">Angina</option>
                    <option value="4">Symptomatic</option>
                </select>
              </div>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Resting Blood Pressure (in mm Hg)</label>
                  <input required name="rest_blood" type="number" class="form-control" placeholder="Resting blood pressure">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Cholesterol (in mg/dl)</label>
                  <input required name="choles" type="number" class="form-control" placeholder="Cholesterol">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Fasting Blood Sugar ( > 120 mg/dl)</label>
                  <select name="fast_sugar" class="form-select form-control" aria-label="Default select example">
                    <option value="1">True</option>
                    <option value="0">False</option>
                    </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Resting Electrocardiogram</label>
                  <select name="ecg" class="form-select form-control" aria-label="Default select example">
                    <option value="0">Normal</option>
                    <option value="1">Having ST</option>
                    <option value="2">Showing probable</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Max. Heart Rate (71–202)</label>
                  <input required name="heart_rate" type="number" class="form-control" placeholder="Heart Rate">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">Exercise Angina</label>
                  <select name="angina" class="form-select form-control" aria-label="Default select example">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                    </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputEmail4">Old Peak</label>
                  <input required name="peak" type="number" class="form-control" placeholder="Old Peak">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputPassword4">ST Slope</label>
                  <select name="slope" class="form-select form-control" aria-label="Default select example">
                    <option value="1">Upsloping</option>
                    <option value="2">Flat</option>
                    <option value="3">Downsloping</option>
                 </select>
                </div>
              </div>
              
            <button type="submit" class="btn btn-primary">Predict</button>
          </form>
    </div>
{% endblock content %}
